
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: roboto;
}
.navh4{
    text-transform: uppercase;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 30px;
    font-size: small;
    margin-left: 10px;
}
.main{
    display: flex;
    /* margin: 20px; */
    align-items: center;
    justify-content: space-between;
    /* background-color: rgba(192, 192, 192, 0.76); */
    padding: 20px;
}
.button1{
    text-transform: uppercase;
    font-size: x-small;
    padding: 10px;
    border-radius: 30px;
    border: 0px;
    
}
.content1{
    padding: 10px 18px;
    height: 70vh;
    /* background-color: burlywood; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 20px;
    gap: 10px;
}
.leftCont{
    height: 100%;
    width: 30%;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lefth1{
    font-size: 6vh;
    font: bolder;
    margin-bottom: 10px;
    gap: 0px;
}
.leftp{
    font-size: medium;
    font: bold;
    color: rgba(0, 0, 0, 0.692)
}