*{
  background-color: black;
  color: white;
}
button{
  /* background-color: green; */
  border: 0px;
  padding: 20px;
  margin: 5px;
  border-radius: 30px;
  cursor: pointer;
  /* scale: 1; */
  margin-left: 50%;
}
.main{
  overflow: auto;
  margin-left: 30px;
}
img{
  display: inline-block;
  height: 220px;
  width: 220px;
  border-radius: 20px;
  /* margin: 2px; */
  /* border: 1px solid white; */
}
.imgDiv{
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  font-weight: bold;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn>button{
  margin: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 0, 0.534);
  width: 7rem;
}
button {
  transition: transform 0.1s ease;
}
button:active{
  transform: scale(0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
}