.form{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    border-radius: 30px;
    width: 40%;
    height: 30rem;
}
input{
    margin: 20px;
    padding: 20px;
    border: 0.5px solid black;
    border-radius: 10px;
}
.input2{
    padding: 40px;
}
button{
    border: 0.5px solid black;
    padding: 5px;
    border-radius: 10px;
}
.div1{
    width: 40%;
}