*{
    margin: 0px;
    box-sizing: border-box;
    background-color: black;
    /* color: wheat; */
}

.formDiv{
    background-color: black;
    width: 50%;
    padding: 5px;
    margin-top: 60px;
    margin-left: 5px;
    border: 3px solid wheat;
    border-bottom: none;
    border-top: none;
    border-left: none;
}
form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    /* border: 0.1px solid rgba(245, 222, 179, 0.021); */
    border:1px solid beige;
}
form >input{
    width: 15rem;
    height: 2rem;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.068);
    color: wheat;
    border-radius: 10px;
}
form >textarea{
    width: 20rem;
    height: 4rem;
    /* border: 0px; */
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.144);
    color: wheat;
    border-radius: 10px;
}
button{
    height: 2rem;
    width: 5rem;
    border: 2px solid white;
    background-color: whitesmoke;
    border-radius: 10px;
}
.mainDiv{
    /* background-color: black; */
    display: flex;
}
.contentDiv{
    width: 40%;
    /* background-color: aqua; */
    /* display: flex; */
    /* gap: 5px; */
    margin-top: 60px;
    /* border: 1px solid white; */
    padding-left: 5px;
    gap: 10px;
    margin-left: 10px;
}
.content{
    height: 25vh;
    width: 25vh;
    /* padding: 30px; */
    /* margin: 20px; */
    background-color: beige;
    border: 1px solid white;
    border-radius: 10px;
    gap: 5px;
    display: inline-block;
    margin: 8px;
    overflow: hidden;

}
.title{
    background-color: beige;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    /* margin-top: px; */
}
.descp{
    background-color: beige;
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 2px solid black;
}
.content span {
    display: flex;
    justify-content: center;
    color: white;
    background-color: red;
    font-size: large;
    font-weight: bold;
    /* margin-left: 135px; */
    overflow: hidden;
    border-radius: 5px;
    /* width: 25px; */
    border: 2px solid transparent; 
    /* border-radius: 50%;     */
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
                border-color 0.25s ease,
                box-shadow 0.25s ease;
    margin-top: 80px;
    cursor: pointer;
}


.content span:hover {
    transform: scale(0.9);
    border-color: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
