*{
    margin: 0px;
    box-sizing: border-box;
    background-color: black;
    /* color: wheat; */
}

.formDiv{
    background-color: black;
    width: 50%;
    padding: 5px;
    margin-top: 60px;
    margin-left: 5px;
    border: 3px solid wheat;
    border-bottom: none;
    border-top: none;
    border-left: none;
}
form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    border: 0.1px solid rgba(245, 222, 179, 0.021);
}
form >input{
    width: 15rem;
    height: 2rem;
    border: 2px solid white;
    background-color: whitesmoke;
    border-radius: 10px;
}
form >textarea{
    width: 20rem;
    height: 4rem;
    /* border: 0px; */
    border-radius: 10px;
    border: 2px solid white;
    background-color: whitesmoke;
    border-radius: 10px;
}
button{
    height: 2rem;
    width: 5rem;
    border: 2px solid white;
    background-color: whitesmoke;
    border-radius: 10px;
}
.mainDiv{
    /* background-color: black; */
    display: flex;
}
.contentDiv{
    width: 40%;
    /* background-color: aqua; */
    /* display: flex; */
    /* gap: 5px; */
    margin-top: 60px;
    /* border: 1px solid white; */
    padding-left: 5px;
    gap: 10px;
    margin-left: 10px;
}
.content{
    height: 25vh;
    width: 25vh;
    /* padding: 30px; */
    /* margin: 20px; */
    background-color: beige;
    border: 1px solid white;
    border-radius: 10px;
    gap: 5px;
    display: inline-block;
    margin: 8px;

}
.title{
    background-color: beige;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 8px;
}
.descp{
    background-color: beige;
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 2px solid black;
}
