*
{
    margin: 0px;
}
body{
  height: 100%;
  width: 100%;
}
.parent{
  /* height: 100vh; */
  /* width: 100%; */
  background-color: #111010;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  /* justify-content: center; */
  min-height: 100vh;
  /* justify-items: ; */
}
.card{
    height: 300px;
    width: 220px;
    background-color: #fff;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    padding: 2px;
}
.top button{
    display: flex;
    align-items: center;
    border: 1px solid #dadada;
    padding: 4px 8px;
    font-size: 11px;
    border-radius: 5px;
    gap: 3px;
    background-color: transparent;
    color: #b1b1b1;
}
.bottom{
    display: flex;
    align-items: center;justify-content: center;
    border-top: 1px solid #b1b1b1;
    padding-top: 15px;
    justify-content: space-between;
}

.center h3{
    font-size: 17px;
    font-weight: 500;
}
.center h3 span{
    font-size: 9px;
    font-weight: 400;
    color: #8b8b8b;
}
.center h2{
    font-size: 20px;
}
.center{
    margin-top: 20px;
}
.tag{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}
.tag h4{
    font-size: 14px;
    background-color: #dadada;
    color: black;
    padding: 3px 6px;
    font-weight: 500;
    border-radius: 8px;
}
.bottom button{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}
.bottom h3{
    font-size: 17px;
}
.bottom p{
    font-size: 12px;
    color: #8b8b8b;
}