.main{
    height: 70vh;
    width: 60vh;
    background-color: #94B4C1;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.formDiv{
    position: relative;
    display: flex;
    align-items: center;
    margin: 5px;
}
input{
  width: 50vh;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  border: 0px;
}
.icon1{
    color: #5F9598;
    position: absolute;
    left: 6px;
    color:rgba(255, 0, 0, 0.527);
    transition: 0.5s;
}
.icon1:hover{
    color: red;
    scale: 1.1;
}
.icon1:active{
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
}
.icon2{
    display: inline-block;
    color: white;
    transition: transform 0.2s ease;
}

.icon2:hover{
    transform: scale(1.2);
}

.icon2:active{
    transform: scale(1);
}

.inputComplete{
    color: green;
    font: bold;
    text-decoration: line-through;
}
.inputIncomplete{
    font: bold;
    text-decoration: none;
}